<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<timestamp key="byDay" datePattern="yyyy_MM_dd" />
	<!-- Output to Console -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n</pattern>
		</layout>
	</appender>
	<!-- 文件输出日志 (文件大小策略进行文件输出，超过指定大小对文件备份) -->
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>log-hkp-job/msg-${byDay}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>log-hkp-job/msg-${byDay}.log.%i.bak</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>12</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>100MB</MaxFileSize>
		</triggeringPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n</pattern>
		</layout>
	</appender>
	<!-- FILE-ERROR -->
	<appender name="FILE-ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<OnMismatch>DENY</OnMismatch>
			<OnMatch>ACCEPT</OnMatch>
		</filter>
		<File>log-hkp-job/err-${byDay}.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>log-hkp-job/err-${byDay}.log.%i.bak</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>3</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>100MB</MaxFileSize>
		</triggeringPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} -
				%msg%n</pattern>
		</layout>
	</appender>
	<logger name="com.ibatis" level="WARN" />
	<logger name="com.ibatis.common.jdbc.SimpleDataSource" level="WARN" />
	<logger name="com.ibatis.common.jdbc.ScriptRunner" level="WARN" />
	<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate"
		level="WARN" />
	<logger name="java.sql.Connection" level="WARN" />
	<logger name="java.sql.Statement" level="WARN" />
	<logger name="java.sql.PreparedStatement" level="WARN" />
	<logger name="com.clztech" level="WARN" />

	<root level="WARN">
		<appender-ref ref="CONSOLE" />
		<!-- <appender-ref ref="LogBuffered" /> -->
		<appender-ref ref="FILE" />
		<appender-ref ref="FILE-ERROR" />
		<!-- <appender-ref ref="Email"/> <appender-ref ref="DB"/> -->
	</root>
</configuration>